Tests/validation/coverage-04.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT coverage (sources?,packages)>
<!ATTLIST coverage line-rate        CDATA #REQUIRED>
<!ATTLIST coverage branch-rate      CDATA #REQUIRED>
<!ATTLIST coverage lines-covered    CDATA #REQUIRED>
<!ATTLIST coverage lines-valid      CDATA #REQUIRED>
<!ATTLIST coverage branches-covered CDATA #REQUIRED>
<!ATTLIST coverage branches-valid   CDATA #REQUIRED>
<!ATTLIST coverage complexity       CDATA #REQUIRED>
<!ATTLIST coverage version          CDATA #REQUIRED>
<!ATTLIST coverage timestamp        CDATA #REQUIRED>

<!ELEMENT sources (source*)>
<!ELEMENT source (#PCDATA)>

<!ELEMENT packages (package*)>
<!ELEMENT package (classes)>
<!ATTLIST package name        CDATA #REQUIRED>
<!ATTLIST package line-rate   CDATA #REQUIRED>
<!ATTLIST package branch-rate CDATA #REQUIRED>
<!ATTLIST package complexity  CDATA #REQUIRED>

<!ELEMENT classes (class*)>
<!ELEMENT class (methods,lines)>
<!ATTLIST class name           CDATA #REQUIRED>
<!ATTLIST class filename       CDATA #REQUIRED>
<!ATTLIST class line-rate      CDATA #REQUIRED>
<!ATTLIST class branch-rate    CDATA #REQUIRED>
<!ATTLIST class complexity     CDATA #REQUIRED>

<!ELEMENT methods (method*)>
<!ELEMENT method (lines)>
<!ATTLIST method name          CDATA #REQUIRED>
<!ATTLIST method signature     CDATA #REQUIRED>
<!ATTLIST method line-rate     CDATA #REQUIRED>
<!ATTLIST method branch-rate   CDATA #REQUIRED>
<!ATTLIST method complexity    CDATA #REQUIRED>

<!ELEMENT lines (line*)>
<!ELEMENT line EMPTY>
<!ATTLIST line number          CDATA #REQUIRED>
<!ATTLIST line hits            CDATA #REQUIRED>
<!ATTLIST line branch          CDATA #IMPLIED>
<!ATTLIST line condition-coverage CDATA #IMPLIED>